extends master.pug
block head
    title Reportagem de casos
    link(rel="stylesheet" href="../css/report.css")
block content
    div.container-fluid.d-flex
        div.d-flex.w-100.align-items-center.mb-5.flex-column
            div.mapa.d-flex.flex-column
                h2.align-self-start.ml-5.mb-5.mt-5 Selecione o local:
                img(src="https://rocketz.com.br/assets/store/img-store-cu-map-100123ec35cb58f100158e68b53bcd0c77a7f5120769df584d4aa67bb56e1c8c.jpg").w-100
                button#enviarFormulario.d-flex.align-self-end.btn.btn-secondary.mt-5 Enviar
            form.w-100
                div.selecao.list-group
                    div.form-check.list-group-item
                        input#material.tipo_violencia(type="radio", name="tipo", value="material")
                        label(for="material") Material

                    div.form-check.list-group-item
                        input#fisica.tipo_violencia(type="radio", name="tipo", value="fisica")
                        label(for="fisica").title Física

                    div.form-check.list-group-item
                        input#sexual.tipo_violencia(type="radio", name="tipo", value="sexual")
                        label(for="sexual").title Sexual

                    div.form-check.list-group-item
                        input#psicologica.tipo_violencia(type="radio", name="tipo", value="psicologica")
                        label(for="psicologica").title Psicológia

                div.material.opcoes
                    input(type="radio", name="opcoes", value="material_roubo").material#material_roubo
                    label(for="material_roubo") Roubo

                    input(type="radio", name="opcoes",
                        value="material_tentativa_assalto").material#material_tentativa_assalto
                    label(for="material_tentativa_assalto") Tentativa de Assalto

                    input(type="radio", name="opcoes", value="material_furto").material#material_furto
                    label(for="material_furto") Furto

                    input(type="radio", name="opcoes",
                        value="material_dano_propriedade").material#material_dano_propriedade
                    label(for="material_dano_propriedade") Dano a Propriedade

                    input(type="radio", name="opcoes",
                        value="material_outros").material#material_outros
                    label(for="material_outros") Outros tipos de Violência Material
                div.fisica.opcoes
                    input(type="radio", name="opcoes", value="fisica_sequestro").fisica#fisica_sequestro
                    label(for="fisica_sequestro") Sequestro

                    input(type="radio", name="opcoes",
                        value="fisica_tentativa_sequestro").fisica#fisica_tentativa_sequestro
                    label(for="fisica_tentativa_sequestro") Tentativa de Sequestro

                    input(type="radio", name="opcoes",
                        value="fisica_agressao_fisica").fisica#fisica_agressao_fisica
                    label(for="fisica_agressao_fisica") Agressão Fisíca

                    input(type="radio", name="opcoes", value="fisica_agressao_arma_fogo").fisica#fisica_agressao_arma_fogo
                    label(for="fisica_agressao_arma_fogo") Agressão com arma de fogo

                    input(type="radio", name="opcoes",
                        value="fisica_agressao_arma_branca").fisica#fisica_agressao_arma_branca
                    label(for="fisica_agressao_arma_branca") Agressão com arma branca

                    input(type="radio", name="opcoes",
                        value="fisica_agressao_outros_objetos").fisica#fisica_agressao_outros_objetos
                    label(for="fisica_agressao_outros_objetos") Agressão com outros objetos

                    input(type="radio", name="opcoes", value="fisica_assassinato").fisica#fisica_assassinato
                    label(for="fisica_assassinato") Assassinato

                    input(type="radio", name="opcoes",
                        value="fisica_tentativa_assassinato").fisica#fisica_tentativa_assassinato
                    label(for="fisica_tentativa_assassinato") Tentativa de Assassinato

                    input(type="radio", name="opcoes", value="fisica_briga").fisica#fisica_briga
                    label(for="fisica_briga") Briga

                    input(type="radio", name="opcoes", value="fisica_carcere_privado").fisica#fisica_carcere_privado
                    label(for="fisica_carcere_privado") Cárcere Privado

                    input(type="radio", name="opcoes", value="fisica_tortura").fisica#fisica_tortura
                    label(for="fisica_tortura") Tortura

                    input(type="radio", name="opcoes",
                        value="fisica_outros").fisica#fisica_outros
                    label(for="fisica_outros") Outros tipos de Violência Física
                div.sexual.opcoes
                    input(type="radio", name="opcoes", value="sexual_estupro").sexual#sexual_estupro
                    label(for="sexual_estupro") Estupro

                    input(type="radio", name="opcoes", value="sexual_tentativa_estupro").sexual#sexual_tentativa_estupro
                    label(for="sexual_tentativa_estupro") Tentativa de Estupro

                    input(type="radio", name="opcoes", value="sexual_assedio_sexual").sexual#sexual_assedio_sexual
                    label(for="sexual_assedio_sexual") Assédio Sexual

                    input(type="radio", name="opcoes", value="sexual_assedio_fisico").sexual#sexual_assedio_fisico
                    label(for="sexual_assedio_fisico") Assédio Físico

                    input(type="radio", name="opcoes", value="sexual_assedio_moral").sexual#sexual_assedio_moral
                    label(for="sexual_assedio_moral") Assédio Moral

                    input(type="radio", name="opcoes", value="sexual_assedio_verbal").sexual#sexual_assedio_verbal
                    label(for="sexual_assedio_verbal") Assédio Verbal

                    input(type="radio", name="opcoes", value="sexual_assassinato").sexual#sexual_assassinato
                    label(for="sexual_assassinato") Assassinato

                    input(type="radio", name="opcoes",
                        value="sexual_tentativa_assassinato").sexual#sexual_tentativa_assassinato
                    label(for="sexual_tentativa_assassinato") Tentativa de Assassinato

                    input(type="radio", name="opcoes", value="sexual_carcere_privado").sexual#sexual_carcere_privado
                    label(for="sexual_carcere_privado") Cárcere Privado

                    input(type="radio", name="opcoes", value="sexual_bullying").sexual#sexual_bullying
                    label(for="sexual_bullying") Bullying/ciberbullying

                    input(type="radio", name="opcoes", value="sexual_ameacas").sexual#sexual_ameacas
                    label(for="sexual_ameacas") Ameaças

                    input(type="radio", name="opcoes", value="sexual_tortura").sexual#sexual_tortura
                    label(for="sexual_tortura") Tortura

                    input(type="radio", name="opcoes", value="sexual_outros").sexual#sexual_outros
                    label(for="sexual_outros") Outros tipos de Violência Sexual
                div.psicologica.opcoes
                    input(type="radio", name="opcoes",
                        value="psicologica_assedio_verbal").psicologica#psicologica_assedio_verbal
                    label(for="psicologica_assedio_verbal") Assedio Verbal

                    input(type="radio", name="opcoes", value="psicologica_bullying").psicologica#psicologica_bullying
                    label(for="psicologica_bullying") Bullying/ciberbullying

                    input(type="radio", name="opcoes", value="psicologica_ameacas").psicologica#psicologica_ameacas
                    label(for="psicologica_ameacas") Ameaças

                    input(type="radio", name="opcoes",
                        value="psicologica_tortura_psicologica").psicologica#psicologica_tortura_psicologica
                    label(for="psicologica_tortura_psicologica") Tortura Psicológica

                    input(type="radio", name="opcoes", value="psicologica_outros").psicologica#psicologica_outros
                    label(for="psicologica_outros") Outros tipos de Violência Psicológica

block foot.sugestion
block script
    script(src="../js/report.js")
